<div class="creators-hero d-flex justify-content-center align-items-center">
  <h1>Our Creators</h1>
</div>

<div
  class="creators-container d-flex flex-wrap justify-content-around align-content-center"
>
  <div class="creator-card" *ngFor="let creator of creators">
    <div class="creator-card-inner">
      <div class="creator-card-front">
        <div class="card-img-div">
          <img
            class="card-img-top"
            src="{{ creator.img }}"
            alt="Card image cap"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ creator.name }}</h5>
          <p class="card-text">{{ creator.about }}</p>
        </div>
      </div>
      <div class="creator-card-back">
        <ul class="justify-content-center list-group">
          <li *ngIf="creator.socials?.instagram">
            <a target='_blank' href="{{ creator.socials?.instagram }}" class="custom-pointer"
              ><i class="fa-brands fa-instagram fa-2x"></i>
              <span> @{{ creator.socials?.instagramTag }}</span>
            </a>
          </li>
          <li *ngIf="creator.socials?.youtube">
            <a target='_blank' href="{{ creator.socials?.youtube }}" class="custom-pointer"
              ><i class="fa-brands fa-youtube fa-2x"></i>
              <span> @{{ creator.socials?.youtubeTag }}</span>
            </a>
          </li>
          <li *ngIf="creator.socials?.twitch">
            <a target='_blank' href="{{ creator.socials?.twitch }}" class="custom-pointer"
              ><i class="fa-brands fa-twitch fa-2x"></i>
              <span> @{{ creator.socials?.twitchTag }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
