<nav class="navbar navbar-expand-sm navbar-dark bg-dark-sm fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">
      <img src="../assets/noobes-logo.png" style="width: 125px"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link custom-pointer" [routerLink]="['/welcome']">Creators</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-pointer" [routerLink]="['/products']">Games</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="text-light content-container">
  <router-outlet></router-outlet>
</div>

<footer
  class="d-flex justify-content-center align-items-center"
  style="height: 30vh"
>
  <div class="footer-container">
    <div class="social-container d-flex justify-content-center">
      <span>
        <button class="button custom-pointer">
          <i class="fa-brands fa-instagram fa-2x"></i>
        </button>
      </span>
      <span>
        <button class="button custom-pointer">
          <i class="fa-brands fa-youtube fa-2x"></i>
        </button>
      </span>
      <span>
        <button class="button custom-pointer">
          <i class="fa-brands fa-twitch fa-2x"></i>
        </button>
      </span>
    </div>
    <div class="footer-nav">
      <ul
        class="no-bullets justify-content-center list-group list-group-horizontal-md"
      >
        <li class="footer-item px-1"><a class='custom-pointer' [routerLink]="['/home']" >About Us</a></li>
        <li class="footer-item px-1"><a class='custom-pointer' href="" >Creators</a></li>
        <li class="footer-item px-1"><a class='custom-pointer' href="">Games</a></li>
      </ul>
    </div>
    <div style="text-align: center">
      <span>&copy; Noobes 2022</span>
    </div>
  </div>
</footer>
