<div class="games-hero d-flex justify-content-center align-items-center">
  <h1>Oh, the Games We Play</h1>
</div>
<div class="content-container">
  <div class="container justify-content-center">
    <div class="row d-flex justify-content-center">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control input-text"
          placeholder="Search for a game..."
          [(ngModel)]="query"
        />
      </div>
    </div>
  </div>

  <div
    class="games-container d-flex justify-content-center align-items-center flex-wrap">
    <div
      class="game d-flex justify-content-center"
      *ngFor="let game of games | search: query">
      <a href='' class='custom-pointer'>
        <img src="{{ game.img }}" />
      </a>
    </div>
  </div>
</div>
