<div class="games-hero d-flex justify-content-center align-items-center">
  <h1>Oh, the Games We Play</h1>
</div>
<div class="content-container">
  <div class="container justify-content-center">
    <div class="row d-flex justify-content-center">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control input-text"
          placeholder="Search games...."
          [(ngModel)]='query'
        />
        <div class="input-group-append">
          <button class="btn btn-lg custom-pointer" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="games-container d-flex justify-content-center align-items-center flex-wrap">
    <div
      class="game d-flex justify-content-center"
      *ngFor="let game of games | search:'id,gameName':query">
      <a href='' class='custom-pointer'>
        <img src="{{ game.img }}" />
      </a>
    </div>
  </div>
</div>
