/* You can add global styles to this file, and also import other style files */

html {
  background-color: #333;
  cursor: url("assets/green-arrow-cursor.png"), default;

  .custom-pointer {
    cursor: url("assets/purple-hand-cursor.png"), default !important;
  }
}
