/* You can add global styles to this file, and also import other style files */

html {
  background-color: #3D4044;
  cursor: url("assets/green-arrow-cursor.png"), default;

  .pointer {
    cursor: url("assets/purple-hand-cursor.png"), default;
  }
}
