<div class="hero-container">
  <div class="hero-img d-flex justify-content-center align-items-center">
    <div class="hero-text">
      <h1>Welcome to gameCo</h1>
      <p style="text-align: center">Slogan Info Info Info</p>
    </div>
  </div>
</div>
<div class="about-container d-flex justify-content-center align-items-center">
  <div>
    <h1>About Us</h1>
    <p>
      This is content about the company...Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Etiam odio turpis, imperdiet non dignissim
      vitae, vestibulum sed libero. Sed non ornare tellus. Phasellus purus nisl,
      finibus consectetur luctus vitae, pharetra ut neque. Suspendisse malesuada
      vel nibh ac aliquet. Nunc placerat commodo rutrum. Phasellus eu arcu
      sapien. Cras faucibus ornare laoreet.
    </p>
  </div>
</div>
<div class="home-links-container d-flex justify-content-around">
  <div class="creators-container">
    <h1>Get to Know Our Creators</h1>
  </div>
  <div class="new-video-container">
    <h1>Check Out Our Newest Video</h1>
  </div>
</div>
