<!-- This page is for important news! -->

<div class="hero-container">
  <div class="hero-img d-flex justify-content-center align-items-center">
    <div class="hero-text" style="text-align: center">
      <h1>Introducing...</h1>
      <span><img src="../../assets/noobes-logo.png" alt="" /></span>
      <p>Gaming Co.</p>
    </div>
  </div>
</div>

<div class="about-container d-flex justify-content-start align-items-end">
  <div class="w-50 p-5">
    <h1>About Us</h1>
    <p>
      This is content about the company...Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Etiam odio turpis, imperdiet non dignissim
      vitae.
    </p>
    <span class="d-inline-flex p-2 w-100 justify-content-center">
      <button type="button" class="custom-pointer btn btn-light about-button"  [routerLink]="['/creators']">
        Meet Our Creators
      </button>
    </span>
  </div>
</div>

<div class="reference-links-container d-flex justify-content-around">
  <div class="games-link-container">
    <h2>Check Out Our Newest Video</h2>

    <a class='custom-pointer' id="bottle" href='https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1' >
      <img src="../../assets/theSeed.PNG" alt="bottle" class="thumbnails" />
    </a>

    <!-- <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/JasSPYBNTjc"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe> -->
  </div>
</div>
